!!!
%html{html_attrs('en-za')}
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=edge')
    %meta(name='viewport' content='width=device-width, initial-scale=1')
    %link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    -# %link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    %link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    = stylesheet_link_tag 'all', 'bootstrap-social'
    %meta(name='generator' content="Middleman v#{Middleman::VERSION}")

    %title
      Kieren Davies
      = "- #{current_resource.data.title}" if current_resource.data.title

  %body{class: page_classes}
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button(type='button' class='navbar-toggle collapsed'){data: {toggle: 'collapse', target: '#navbar-collapse'}, aria: {expanded: 'false'}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href='/') Kieren Davies
        #navbar-collapse.navbar-collapse.collapse
          %ul.nav.navbar-nav
            - sitemap.order_by(:nav_order).all.each do |resource|
              %li{class: ('active' if resource == current_resource)}
                %a{href: resource.path}= resource.data.nav_title || resource.data.title

    = yield

    %footer.footer
      .container
        %p.credit.text-muted
          &copy; 2015
          %a(href='http://kdavi.es/') Kieren Davies

    %script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    %script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    = javascript_include_tag  'all'
