!!!
%html{html_attrs('en-za')}
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=edge')
    %meta(name='viewport' content='width=device-width, initial-scale=1')
    - (data.stylesheets | (current_resource.data.stylesheets || [])).each do |stylesheet|
      = stylesheet_link_tag stylesheet
    %meta(name='generator' content="Middleman v#{Middleman::VERSION}")

    %title
      Kieren Davies
      = "- #{current_resource.data.title}" if current_resource.data.title

  %body{class: page_classes}
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button(type='button' class='navbar-toggle collapsed'){data: {toggle: 'collapse', target: '#navbar-collapse'}, aria: {expanded: 'false'}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Kieren Davies', '/', class: 'navbar-brand'
        #navbar-collapse.navbar-collapse.collapse
          %ul.nav.navbar-nav
            -# - sitemap.order_by(:nav_order).all.each do |resource|
            -#   %li{class: ('active' if resource == current_resource)}
            -#     %a{href: resource.url}= resource.data.nav_title || resource.data.title
            - data.navbar.each do |item|
              - if item.dropdown
                %li.dropdown
                  %a.dropdown-toggle(href='#' role='button'){data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'false'}}
                    = item.title
                    %span.caret
                  %ul.dropdown-menu
                    - item.dropdown.each do |dropdown_item|
                      %li{class: ('active' if dropdown_item.url == current_resource.url)}
                        = link_to dropdown_item.title, dropdown_item.url
              - else
                %li{class: ('active' if item.url == current_resource.url)}
                  = link_to item.title, item.url

    = yield

    %footer.footer
      .container
        %p.credit.text-muted
          &copy; 2015
          %a(href='http://kdavi.es/') Kieren Davies

    - (data.javascripts | (current_resource.data.javascripts || [])).each do |javascript|
      = javascript_include_tag javascript
